<section id="call" class={{include.class}}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Call for Papers</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <p class="large text-muted">
          Generative AI, propelled by advancements in large language models, has achieved remarkable milestones. As we look ahead, equipping generative AI with personalization capabilities and progressing toward personal intelligence are essential steps in its evolution toward deeply and meaningfully serving each individual—and ultimately toward AGI. The Generative AI Towards Personal Intelligence workshop aims to bring together researchers, practitioners, and industry experts to explore cutting-edge developments in personal intelligence within generative AI. This workshop will focus on inspiring future perspectives, advancing technological innovations, establishing standards, and enhancing practical applications for generative AI-driven personal intelligence. 
          <p class="large text-muted">
            Aiming for personal intelligence, this workshop focuses on advancing generative AI to better understand individuals and enhance personal thinking, planning, and life experiences through personalization. Specific topics include:         </p>  
        <ul class="large text-muted">
          <ul>
            <li>Visionary Perspectives on the Future of Generative AI for Personal Intelligence: Perspective papers that discuss potential technological pathways and visionary outlooks for realizing personal intelligence with generative AI. </li>
            <li>User modeling and personalization techniques for large language/multimodal models and agents: Exploring methods to adapt large models and agents for user-specific preferences and needs, including user understanding, modeling, and preference alignment strategies for generative models. </li>
            <li>Generative models in personalized task applications: Application of generative models in personalized systems such as recommendation, search, conversation, and personal assistants, with a focus on personalization.  </li>
            <li>Core Tasks, Datasets, and Benchmarks for Personal Intelligence: Identifying and developing essential tasks, datasets, and benchmarks critical for advancing research in personal intelligence, including standardization and evaluation frameworks.</li>
            <li>Personalized Content Generation: Equipping generative models with personalization capabilities to produce tailored content for users, including text, images, and videos.</li>
            <li>User Simulation and Role-Playing: Utilizing generative models for user simulation, including role-playing scenarios to enhance user understanding and personalization outcomes.</li>
            <li>Trustworthiness and efficiency: Uncovering and addressing issues of reliability, privacy, and efficiency when evolving generative AI toward personal intelligence, with a focus on establishing user trust and optimizing resource usage. </li>
          </ul>
        </ul>
        <p class="large text-muted">

            Submitted papers must be a single PDF file in the template of ACM WWW 2025. Submissions can be of varying length from 4 to 8 pages, plus unlimited pages for references. The authors may decide on the appropriate length of the paper as no distinction is made between long and short papers. All submitted papers will follow the "double-blind" review policy and undergo the same review process and duration. Expert peer reviewers in the field will assess all papers based on their relevance to the workshop, scientific novelty, and technical quality.        </p>

        <!-- <p class="large text-muted"> -->
            <!-- Submission site: <a href="https://easychair.org/conferences/?conf=thewebconf2024_workshops">https://easychair.org/conferences/?conf=thewebconf2024_workshops</a> (track of "The 2nd Workshop on Recommendation with Generative Models"). Accepted papers have the option to be included in the WWW Companions proceedings. -->
        <!-- </p> -->

      </div>
    </div>
  </div>
</section>
