<section id="organizer" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">Workshop Organizers </h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        
        <div class="row">

<div class="col-sm-2">
    &nbsp;
</div>   
            
    <div class="col-sm-2">
        <div class="team-member">
            <img src="assets/img/zhangyang.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
            <h4><a href="https://zyang1580.github.io/">Dr. Yang Zhang</a></h4>
            <p class="text-muted">University of Science and Technology of China</p>
        </div>
    </div>

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/wangwenjie.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://wenjiewwj.github.io/">Dr. Wenjie Wang</a></h4>
        <p class="text-muted">National University of Singapore</p>
    </div>
</div>


<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/linxinyu.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://scholar.google.com/citations?user=0O_bs3UAAAAJ&hl=en">Ms. Xinyu Lin</a></h4>
        <p class="text-muted">National University of Singapore</p>
    </div>
</div>


            
        </div>

        <div class="row">
            
<div class="col-sm-2">
    &nbsp;
</div>   
            <div class="col-sm-2">
                <div class="team-member">
                    <img src="assets/img/fengfuli.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
                    <h4><a href="https://fulifeng.github.io/">Dr. Fuli Feng</a></h4>
                    <p class="text-muted">University of Science and Technology of China</p>
                </div>
            </div>
            
<div class="col-sm-1">
    &nbsp;
</div>
    
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/yinhongzhi.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://sites.google.com/view/hongzhi-yin/home">Dr. Hongzhi Yin</a></h4>
        <p class="text-muted">The University of Queensland</p>
    </div>
</div>



<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/zhaoxin.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="http://playbigdata.ruc.edu.cn/batmanfly/">Dr. Wayne Xin Zhao</a></h4>
        <p class="text-muted">Renmin University of China</p>
    </div>
</div>



<!-- <div class="col-sm-1">
    &nbsp;
</div> -->
            



        </div>

        <div class="row">
            
<div class="col-sm-2">
    &nbsp;
</div>            
            <div class="col-sm-2">
                <div class="team-member">
                    <img src="assets/img/yaolina.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
                    <h4><a href="https://www.linayao.com/">Dr. Lina Yao</a></h4>
                    <p class="text-muted">CSIRO's Data61, UNSW, Macquarie University, and UTS</p>
                </div>
            </div>
            
<div class="col-sm-1">
    &nbsp;
</div>
            
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/songyang.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="http://sonyis.me/">Dr. Yang Song</a></h4>
        <p class="text-muted">Kuaishou Technology, Beijing, China</p>
    </div>
</div>



<div class="col-sm-1">
    &nbsp;
</div>  

            <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/hexiangnan.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://hexiangnan.github.io/">Dr. Xiangnan He</a></h4>
        <p class="text-muted">University of Science and Technology of China</p>
    </div>
</div>

<!-- <div class="col-sm-1">
    &nbsp;
</div> -->
            
        </div>
        
    </div>
</section>
