<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }
  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
  .keynote {
    background-color: #fede4f;
  }
</style>

<section id="schedule" class="{{include.class}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshop Final Programme</h2>
      </div>
    </div>
      <table style="width: 100%;">
        <tr> 
            <th width=130px> Activity type </th> 
            <th width=150px> Time (Australia Time) </th> 
            <th width=400px> Title </th> 
        </tr>
        <tr> 
            <td width=130px> Opening </td> 
            <td width=150px> 9:00–9:05 </td> 
        </tr>
        <tr class="keynote"> 
            <td width=130px> Keynote </td> 
            <td width=150px> 9:05–9:40 </td> 
            <td width=400px> Keynote-1: The Future of Personalized Universal Assistant by Dr. Ed H. Chi </td> 
        </tr>
        <tr> 
            <td width=130px> Paper oral </td> 
            <td width=150px> 9:40–9:50 </td> 
            <td width=400px> Paper-1: One Size doesn't Fit All: A Personalized Conversational Tutoring Agent for Mathematics Instruction by Ben Liu </td> 
        </tr>
        <tr> 
            <td width=130px> Paper oral </td> 
            <td width=150px> 9:50–10:00 </td> 
            <td width=400px> Paper-2: Identifying User Goals From UI Trajectories by Sapir Caduri </td> 
        </tr>
        <tr> 
            <td width=130px> Paper oral </td> 
            <td width=150px> 10:00–10:10 </td> 
            <td width=400px> Paper-3: Agent-Initiated Interaction in Phone UI Automation by Filippo Galgani </td> 
        </tr>
        <tr> 
            <td width=130px> Paper oral </td> 
            <td width=150px> 10:10–10:20 </td> 
            <td width=400px> Paper-4: Beyond Retrieval: Generating Narratives in Conversational Recommender Systems by Krishna Sayana </td> 
        </tr>
        <tr> 
            <td width=130px> Paper oral </td> 
            <td width=150px> 10:20–10:30 </td> 
            <td width=400px> Paper-5: A Comprehensive Security Evaluation Framework for Chinese Large Language Models by Zhenhua Huang </td> 
        </tr>
        <tr> 
            <td width=130px> Break </td> 
            <td width=150px> 10:30–11:00 </td> 
            <td width=400px> </td> 
        </tr>
        <tr class="keynote"> 
            <td width=130px> Keynote </td> 
            <td width=150px> 11:00–11:35 </td> 
            <td width=400px> Keynote-2: The Intelligence Feedback Loop: From Biological Inspiration to Augmented Cognition by Dr. Yu Su </td> 
        </tr>
        <tr> 
            <td width=130px> Paper oral </td> 
            <td width=150px> 11:35–11:45 </td> 
            <td width=400px> Paper-6: Generative Recommendation: Towards Personalized Multimodal Content Generation by Xinyu Lin </td> 
        </tr>
        <tr class="keynote"> 
            <td width=130px> Keynote </td> 
            <td width=150px> 11:55–12:30 </td> 
            <td width=400px> Keynote-3: Practice on OneRec - Unifying Retrieve and Rank with Generative Recommender and Preference Alignment by Dr. Shiyao Wang </td> 
        </tr>
        <tr> 
            <td width=130px> Closing </td> 
            <td width=150px> 12:30–12:35 </td> 
        </tr>
    </table>
  </div>
</section>
