<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }
  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
  .keynote {
    background-color: #fede4f;
  }
</style>

<section id="schedule" class="{{include.class}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshop Final Programme</h2>
      </div>
    </div>
    <table style="width: 60%;">
      <tr>
        <th width="150px">Time (Australia Time)</th>
        <th width="400px">Activity</th>
      </tr>
      <tr><td>9:00–9:05</td><td>Opening</td></tr>
      <tr class="keynote"><td>9:05–9:40</td><td>Keynote-1 (Dr. Ed H. Chi)</td></tr>
      <tr class="keynote"><td>9:40–9:15</td><td>Keynote-2</td></tr>
      <tr><td>10:15–10:30</td><td>2 papers</td></tr>
      <tr><td>10:30–11:00</td><td>Break</td></tr>
      <tr class="keynote"><td>11:00–11:35</td><td>Keynote-3 (Dr. Yu Su)</td></tr>
      <tr><td>11:35–12:25</td><td>5 papers</td></tr>
      <tr><td>12:25–12:30</td><td>Closing</td></tr>
    </table>
  </div>
  <div class="row text-justify">
    <div class="col-md-12">
      <p class="large text-muted venue-description">
        Our workshop will be held in <b>Leo 3</b> @ Resorts World Sentosa Convention Centre. <a href='assets/files/layout.pdf'>[Layout]</a>
      </p>
    </div>
  </div>
</section>
