<style>
  table,
  th,
  td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
  }
  th {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
  }
  .keynote {
    background-color: #fede4f;
  }
</style>

<section id="schedule" class="{{include.class}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshop Final Programme</h2>
      </div>
    </div>
    <table style="width: 60%;">
      <tr> <th width=130px> Activity type </th> <th width=150px> Time (Australia Time) </th> <th width=400px> Title </th> </tr>
      <tr><td>9:00–9:05</td><td>Opening</td><td>Dr. Wenjie Wang</td></tr>
      <tr class="keynote"><td>9:05–9:40</td><td>Keynote-1: The Future of Personalized Universal Assistant</td><td>Dr. Ed H. Chi</td></tr>
      <!-- <tr><td>9:40–10:30</td><td>5 papers</td></tr> -->
      <tr><td>9:40-9:50</td><td>Paper-1: One Size doesn't Fit All: A Personalized Conversational Tutoring Agent for Mathematics Instruction</td><td>Ben Liu</td></tr>
      <tr><td>9:50-10:00</td><td>Paper-2: Identifying User Goals From UI Trajectories</td><td>Sapir Caduri</td></tr>
      <tr><td>10:00-10:10</td><td>Paper-3: Agent-Initiated Interaction in Phone UI Automation</td><td>Filippo Galgani</td></tr>
      <tr><td>10:10-10:20</td><td>Paper-4: Beyond Retrieval: Generating Narratives in Conversational Recommender Systems</td><td>Krishna Sayana</td></tr>
      <tr><td>10:20-10:30</td><td>Paper-5: A Comprehensive Security Evaluation Framework for Chinese Large Language Models</td><td>Zhenhua Huang</td></tr>
      <tr><td>10:30–11:00</td><td>Break</td></tr>
      <tr class="keynote"><td>11:00–11:35</td><td>Keynote-2: The Intelligence Feedback Loop: From Biological Inspiration to Augmented Cognition</td><td>Dr. Yu Su</td></tr>
      <tr><td>11:35-11:45</td><td>Paper-6: Paper-6: Generative Recommendation: Towards Personalized Multimodal Content Generation</td><td>Xinyu Lin</td></tr>
      <tr class="keynote"><td>11:55–12:30</td><td>Keynote-3: Practice on OneRec - Unifying Retrieve and Rank with Generative Recommender and Preference Alignment</td><td>Dr. Shiyao Wang</td></tr>
      <tr><td>12:30–12:35</td><td>Closing</td></tr>
    </table>
  </div>
</section>
